.aboutSection{
    background: rgb(36, 35, 35);
    text-align: center;
}

.aboutSectionTitle{
    font-size: 50px;
    font-weight: bold;
}

.aboutSectionSubTitle{
    font-size: 18px;
}

.aboutSectionContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}

.aboutSectionContentHorz{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}

.aboutSectionContentVert{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutSectionIcon{
    height: 53px;
    width: 53px;
}

.aboutSectionCardText{
    font-family: poppins-extralight,poppins,sans-serif;
    font-size: 14px;
    width: 50%;
}

.aboutSectionCardTitle{
    font-size: 30px;
    text-shadow: rgb(0 0 0 / 30%) 0px 5px 0px;;
}

.aboutSectionCardText2{
    font-family: poppins-extralight,poppins,sans-serif;
    font-size: 14px;
}

.aboutSectionCardLink{
    text-decoration: underline;
    cursor: pointer;
}

.roadmapBg{
    padding: 5% 0;
    background: url('../assets/roadmap\ bkg.webp');
}

.roadmapImage{
    width: 100%;
}
