.contentSection{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}


.contentSectionItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.contentImageBg1{
    height: 300px;
    background: url('../assets/colored-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.contentSectionText{
    height: 400px;
}

.contentSectionGif{
    padding: 5% 0;
}

.contentImage{
    width: 60%;
}

.contentGif{
    width: 100%;
}
