.navbar{
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.navLink{
    
    transition: ease-in-out 0.2s;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-family: poppins-semibold,poppins,sans-serif;
    color: #F3F3F3;
    text-decoration: none;
    font-weight: bold;
}

.navLink:hover {
    color: #BA83F0;
}

.active{
    color: #E33292;
}

.navImg{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: 50% 50%;
}