.visionSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5% 0; 
}

.visionColoredBg{
    background: url('../assets/hero.webp');
    background: url('https://static.wixstatic.com/media/3ee487_3a048bbe57f2431f91934aec9b110809~mv2.png/v1/fill/w_1484,h_1253,al_c,usm_0.66_1.00_0.01,enc_auto/3ee487_3a048bbe57f2431f91934aec9b110809~mv2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.visionSectionContent {
    padding: 5% 0;
}

.visionSectionContentHorz {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

.visionSectionContentVert {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.visionHeading{
    padding-bottom: 5% ;
    font-size: 17px;
    font-family: poppins-semibold,poppins,sans-serif;
    font-weight: 600;
    width: 80%;
}

.titleBg{
    width:130px;
    height:45px;
    object-fit:cover;
    object-position:50% 50%;
}

.visionTitleSection{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visionTItle{
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}


.visionSectionContentVert2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.visionContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('https://static.wixstatic.com/media/3ee487_5082908e128a473ea71063cb10c69c0c~mv2.png/v1/crop/x_0,y_268,w_2880,h_863/fill/w_1143,h_343,al_c,usm_0.66_1.00_0.01,enc_auto/Teaser%20Roadmap%20(1920%20x%20800%20px)%20(4).png');
    background-size: cover;
    padding: 3% 0;
    border-radius: 15px;
    box-shadow: black 0px 0 5px ;
}


.eventSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    width: 60%;
    
}


.eventIconBg{
    background: green;
    border-radius: 20px;
    border: solid 1px white;
    cursor: pointer;
    transition: ease-in-out .3s;
    width: 220px;
    height: 123px;
}

.eventIconBg:hover{
    opacity: .8;
}


.bannerSection{
    background: url('../assets/colored-bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

.bannerSectionContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
}

.bannerTitle{
    font-size: 65px;
    font-weight: bold;
}
.bannerSubTitle{
    font-size: 17px;
    font-weight: bold;
    width: 70%;
}


.bannerBtnSection{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bannerBtn{
    height: 40px;
    width: 350px;
    background: transparent;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: ease-in-out .3s;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
}

.bannerBtn:hover{
    background: white;
    color: black;
    border: solid 1px black;
}

.svgIcons{
    display: flex;
    justify-content: space-between;
}


.svgIcon{
    width: 20%;
    height: 80%;
    fill: white;
}


